<nav class=" indigo darken-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Sports Scraper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Search</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </div>
</nav>


<div class="container" align="center">
  <h1>Saved</h1>

  {{#each savedArticles}}
  <div class="row favoriteFalse">
    <div class="col s12" align="center">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <a href={{href}} target="blank">
            <span class="card-title">{{title}}</span>
          </a>
          <img src={{imgurl}} alt="sports" height="50" width="50">
          <div class="right-align">
            <button class="btn waves-effect red lighten-1" type="submit" name="action" id="favoriteFalse"
              value={{_id}}><i class="far fa-trash-alt"></i></button>

            <a class="waves-effect waves-light btn pink darken-1 modal-trigger article-button" href="#demo-modal"
              data-value={{_id}}>Article Notes</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

</div>


<div class="container">

  <!-- Modal Trigger -->




  <!-- Modal Structure -->

  <div id="demo-modal" class="modal">

    <div class="modal-content">
      <h5 align="center">View Notes!</h5>
      <div class="noteViewAdd" align="center">


      </div>



      <h6>Add A Note!</h6>
      <form id="add-drink">
        <textarea placeholder="New Note" rows="5" cols="50" name="comment" form="usrform" id="noteNote"></textarea>
      </form>
      <br>
      <button type="submit" class="btn btn-success submit purple lighten-2" id="addNote">Add Note!</button>


    </div>

    <div class="modal-footer">

      <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Close</a>

    </div>

  </div>

</div>